:root {
    --red:#E50914;
    --black:#141414;
    --grey:#AAA;
    --white:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
/* Desing do HEADER*/
header{
    height: 50px;
}
header nav a {
    text-decoration: none;
    color: #AAA;
    margin: 15px;
    
}
header nav a:hover {
    color: #fff;
}
.menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    color: #E50914;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 30px;
}
/* Design do MAIN */

/* Desing do filme em destaque */
.filmEmDestaque {
    background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(../imagens/Wiener\ Philharmoniker\ -\ Gustavo\ Dudamel\ .jpg);
    background-size: cover;
    font-size: 18px;
    height: 400px;
    padding: 1%;
}
.informacoesDoFilm {
    width: 50%;
}
.titulo{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.botoes{
    margin-top: 2%;
}
.button i {
    margin: 10px;
}
.button {
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    background-color: rgba(170, 170, 170, 0.568);
}
button:hover{
    background-color: #252525;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.3s ease-in;
}